<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.muriloq.android.phoenix"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name" android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
     	 
        <activity android:label="@string/app_name" android:name="PhoenixLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AccessoryPhoenixActivity" android:screenOrientation="portrait" >
            <intent-filter>
              <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
      
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
              android:resource="@xml/accessory_filter" />
        </activity>
        <activity android:name="ScreenPhoenixActivity" android:screenOrientation="portrait" ></activity>
        <uses-library android:name="com.android.future.usb.accessory" android:required="true"></uses-library>

    </application>
	<uses-sdk android:minSdkVersion="7" />
</manifest> 